*{
    box-sizing: border-box;
}

body{
    background-color: brown;
    font-family: "Inter", serif;
}

.parent-body-container{
    display:flex;
    justify-content: center;
}

.child-body-container{
    width:60%;
    background-color: aliceblue;
    padding:30px;
    border-radius: 5px;
}

.recipe-title{
    text-align: center;
}

a{
    color:brown;
}

.home-link{
    margin-bottom:10px;
    text-align: center;
}

.food-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 5px;
}
